/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   https://gist.githubusercontent.com/hcatlin/1027867/raw/dc4f0c2ebf8e58026e65edc9fbabe812c3621805/reset.scss
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: #f0f0f0;
}

#osb-map-page-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  position: relative;
}

#osb-map-wrapper {
  height: 100%;
  overflow: hidden;
}

#osb-map-page-left, #osb-map-page-right {
  height: 100%;
  padding: 5px;
  display: block;
}

#osb-map-page-left {
  float: none;
  width: auto;
  overflow: hidden;
}

.osb-map-normal {
  width: 100%;
}

#osb-map-wrapper.filter-x #osb-map-page-right {
  float: right;
  width: 300px;
  height: 100%;
}
#osb-map-wrapper.filter-x #osb-map-filter-content {
  height: 80%;
  overflow: hidden;
}
#osb-map-wrapper.filter-x .osb-filter-close {
  display: inline-block;
}
#osb-map-wrapper.filter-x .osb-filter-open {
  display: none;
}

#osb-map-wrapper.filter-y #osb-map-page-right {
  float: right;
  width: 60px;
  height: 100%;
}
#osb-map-wrapper.filter-y #osb-map-filter-header {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  transform-origin: 100% 100%;
  right: 15px;
  white-space: nowrap;
}
#osb-map-wrapper.filter-y #osb-map-filter-content {
  display: none;
}
#osb-map-wrapper.filter-y .osb-filter-disc-open {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  position: absolute;
  transform-origin: 100% 100%;
}
#osb-map-wrapper.filter-y .osb-filter-close {
  display: none;
}
#osb-map-wrapper.filter-y .osb-filter-open {
  display: inline-block;
}

.osb-long-title {
  display: inline-block;
}

@media screen and (min-width: 381px) and (max-width: 800px) {
  #osb-map-wrapper.filter-x #osb-map-page-right {
    float: right;
    width: 60px;
    height: 100%;
  }
  #osb-map-wrapper.filter-x #osb-map-filter-header {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    transform-origin: 100% 100%;
    right: 15px;
    white-space: nowrap;
  }
  #osb-map-wrapper.filter-x #osb-map-filter-content {
    display: none;
  }

  #osb-map-wrapper.filter-y #osb-map-page-right {
    float: right;
    width: 300px;
    height: 100%;
  }
  #osb-map-wrapper.filter-y #osb-map-filter-header {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: inherit;
    display: block;
  }
  #osb-map-wrapper.filter-y #osb-map-filter-content {
    height: 80%;
    overflow: hidden;
    display: block;
  }

  .osb-long-title {
    display: inline-block;
  }
}
@media screen and (max-width: 380px) {
  #osb-map-page-right {
    float: none;
    width: 98%;
    height: 60px;
  }

  #osb-map-wrapper.filter-x #osb-map-page-right {
    float: inherit;
    width: 100%;
    height: 60px;
  }
  #osb-map-wrapper.filter-x #osb-map-filter-header {
    text-align: center;
    font-size: 1em;
  }
  #osb-map-wrapper.filter-x #osb-map-filter-content {
    display: none;
  }

  #osb-map-wrapper.filter-y #osb-map-page-right {
    float: inherit;
    width: 100%;
    height: 100%;
  }
  #osb-map-wrapper.filter-y #osb-map-filter-header {
    text-align: center;
    font-size: 1em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: inherit;
    display: block;
  }
  #osb-map-wrapper.filter-y #osb-map-filter-content {
    display: block;
  }

  .osb-long-title {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .osb-long-title {
    display: none;
  }
}
.osb-map-filter-max {
  width: 300px;
}

.osb-map-filter-min {
  width: 60px;
}

.osb-map-filter-min > #osb-map-filter > #osb-map-filter-header {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  transform-origin: 100% 100%;
  right: 15px;
  white-space: nowrap;
}

#osb-map-header {
  font-size: 1.8em;
  color: #ef7b05;
  height: 60px !important;
  line-height: 100px;
  font-weight: 400;
  margin-left: 10px;
}

#osb-map-header-subtitle {
  font-size: smaller;
  font-style: italic;
}

#osb-map {
  width: 100%;
  height: 70%;
  border: solid 2px #4c4c4c;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  z-index: 10;
}

#osb-map-filter {
  background: #ef7b05;
  width: 100%;
  height: 70%;
  border: solid 2px #4c4c4c;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}

#osb-map-filter-header, #osb-map-filter-content {
  margin: 10px 20px 20px 20px;
  color: #fef3e8;
}

#osb-map-filter-header {
  font-size: 1.4em;
}
#osb-map-filter-header p:hover {
  color: #000000;
}

#osb-map-filter-content > p, #osb-selected-keyword-list > p {
  color: #000000;
  text-align: center;
  margin: 10px 0 10px 0;
  font-size: larger;
  font-weight: bold;
}

#osb-blog-link {
  border: solid 2px #4c4c4c;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  background: #333333;
  color: white;
  margin-top: 20px;
  height: 80px;
  bottom: 0;
  position: relative;
}

.osb-popup-more {
  font-weight: bold;
  color: #ffffff;
}
.osb-popup-more a:link {
  text-decoration: none;
  color: #ffffff;
}
.osb-popup-more a:visited {
  text-decoration: none;
  color: #ffffff;
}
.osb-popup-more a:hover {
  text-decoration: underline;
  color: #ffffff;
}
.osb-popup-more a:active {
  text-decoration: none;
  color: #ffffff;
}

.leaflet-container img.osb-img {
  width: 80%;
}

.osb-map .leaflet-popup-content-wrapper {
  background: #dabd18;
  border-radius: 0;
  color: #3e4042;
  font-size: 16px;
  line-height: 24px;
}
.osb-map .leaflet-popup-content-wrapper h4 {
  font-weight: bold;
  color: #ffffff;
}
.osb-map .leaflet-popup-content-wrapper h4 a:link {
  text-decoration: none;
  color: #ffffff;
}
.osb-map .leaflet-popup-content-wrapper h4 a:visited {
  text-decoration: none;
  color: #ffffff;
}
.osb-map .leaflet-popup-content-wrapper h4 a:hover {
  text-decoration: underline;
  color: #ffffff;
}
.osb-map .leaflet-popup-content-wrapper h4 a:active {
  text-decoration: none;
  color: #ffffff;
}
.osb-map .leaflet-popup-content-wrapper img {
  width: 80%;
  text-align: center;
}

.osb-map .leaflet-popup-content p {
  margin: 0;
}

.osb-map .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

.osb-map .leaflet-popup-tip {
  background: #dabd18;
}

.osb-map a.leaflet-popup-close-button {
  color: #ffffff;
  font-size: 30px;
}

#osb-map-filter-header {
  cursor: pointer;
}

#osb-place-description {
  border: solid 2px #4c4c4c;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  background: #ffffff;
  padding: 30px;
}
#osb-place-description span {
  text-align: right;
}
#osb-place-description h3 {
  font-size: 1.5em;
  font-weight: bold;
}
#osb-place-description img {
  max-width: 100%;
  height: auto;
  width: auto;
}
#osb-place-description p {
  margin: 10px 0 0 0;
}

.osb-img-desc-wrapper {
  margin: 10px;
}

.osb-desc-close-wrapper {
  float: right;
}

.osb-desc-close {
  font-weight: bold;
}

#osb-place-description-content h3 {
  margin: 10px 0 10px 0;
}
#osb-place-description-content strong {
  font-weight: bold;
}

#osb-place-media h4 {
  margin: 10px 0 10px 0;
  font-weight: bold;
}

#osb-layer-list {
  text-align: center;
  font-size: 1.1em;
}
#osb-layer-list ul {
  list-style: none;
}
#osb-layer-list ul li {
  display: inline-block;
  margin: 5px 15px 5px 0;
}
#osb-layer-list ul li a:link {
  text-decoration: none;
  color: #ffffff;
}
#osb-layer-list ul li a:visited {
  text-decoration: none;
  color: #ffffff;
}
#osb-layer-list ul li a:hover {
  text-decoration: underline;
  color: #ffffff;
}
#osb-layer-list ul li a:active {
  text-decoration: none;
  color: #ffffff;
}

#osb-keyword-list {
  overflow-y: scroll;
  height: 60%;
}
#osb-keyword-list ul li {
  display: inline-block;
  padding: 5px;
}
#osb-keyword-list ul li a {
  text-decoration: none;
  border-bottom: 1px dotted;
}

#osb-places-total, #osb-selected-keyword-list {
  margin: 10px 0 10px 0;
  text-align: center;
}

#osb-selected-keyword-list {
  text-align: center;
}
#osb-selected-keyword-list ul li {
  display: inline-block;
  padding-right: 10px;
}
.osb-tag-a {
  font-size: 0.8em;
}

.osb-tag-b {
  font-size: 0.9em;
}

.osb-tag-c {
  font-size: 1.2em;
  font-weight: bold;
}

.osb-tag-d {
  font-size: 1.6em;
  font-weight: bold;
}

.spinner {
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  /* Rounds out the halo */
  opacity: 0.7;
  /* Some subtle opacity to help blend with variable background colors */
  display: inline-block;
}

.spinner.medium {
  height: 31px;
  width: 31px;
  background: url("../image/spiffygif_30x30.gif");
}

.spinner.medium_wbg {
  height: 31px;
  width: 31px;
  background: url("../image/spiffygif_30x30_wbg.gif");
}

#osb-place-details {
  margin: 10px;
}

.osb-place-details > .spinner {
  text-align: center;
}

.osb-place-details-img {
  text-align: center;
}

audio, video {
  max-width: 100%;
}

#osb-layer-list {
  text-align: center;
  font-size: 1.1em;
}
#osb-layer-list ul {
  list-style: none;
}
#osb-layer-list ul li {
  display: inline-block;
  margin: 5px 15px 5px 0;
}
#osb-layer-list ul li a:link {
  border-bottom: dotted 1px;
}
#osb-layer-list ul li a:visited {
  border-bottom: dotted 1px;
}
#osb-layer-list ul li a:hover {
  border-bottom: solid 1px;
  text-decoration: none;
}
#osb-layer-list ul li a:active {
  border-bottom: dotted 1px;
}
#osb-layer-list ul li a.osb-selected-layer:link {
  border-bottom: none;
}
#osb-layer-list ul li a.osb-selected-layer:visited {
  border-bottom: none;
}
#osb-layer-list ul li a.osb-selected-layer:hover {
  border-bottom: solid 1px;
}
#osb-layer-list ul li a.osb-selected-layer:active {
  border-bottom: none;
}

#osb-map-filter-header > p {
  margin-bottom: 0;
}

#osb-layer-list > ul {
  margin: 0;
  padding: 0;
}

#osb-places-total > p {
  margin-bottom: 0;
  text-align: center;
}

#osb-keyword-list > ul {
  margin: 0;
  padding: 0;
}

#osb-selected-keyword-list > ul {
  margin: 0;
  padding: 0;
}

article.page {
  background: #f0f0f0 !important;
  border: 0 !important;
}

#osb-map-toggle.osb-map-min {
  background: url("../image/plus-square.png") center no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

#osb-map-toggle.osb-map-max {
  background: url("../image/minus-square.png") center no-repeat;
  background-size: 100%;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.osb-max-expand {
  position: fixed;
  top: 0;
  left: 0;
  width: 98%;
  z-index: 200;
  height: 100% !important;
  overflow-y: scroll !important;
}

#osb-contribute-map {
  padding: 5px 0;
}

.osb-btn {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #000000;
  background-color: #dabd18 !important;
  padding: 5px;
  color: #000000 !important;
}

#osb-map-description {
  padding: 0 0 0 10px;
}

#osb-logo ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#osb-logo ul li {
  display: inline;
  margin-right: 20px;
}

html, body, .app, #main-content, #osb-map-page-wrapper {
  box-sizing: border-box;
}

.app {
  height: 100%;
  width: 100%;
  position: fixed;
  background: url("../image/osb-background.png") no-repeat center center;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
}

#osb-top-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 100;
  background-color: #4d4c4c;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  color: #FFFFFF;
}

#osb-top-bar p {
  margin: 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 19px;
  font-weight: bold;
  color: #fffff;
  text-transform: uppercase;
}

#osb-top-bar-left {
  height: 100%;
  width: 20%;
  min-width: 20%;
  display: inline;
  float: left;
}

#osb-top-bar-center {
  display: inline;
  float: left;
  width: 60%;
  text-align: center;
  /* stop the word "Bristol" overflowing onto the map etc */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#osb-top-bar-right {
  width: 25%;
}

#osb-main-page-wrapper {
  text-align: center;
  padding-top: 100px;
}

.osb-box {
  background-color: #f07c07;
  display: inline-block;
  margin: 30px;
  padding: 20px;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  color: white;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
  width: 120px;
  text-align: center;
  cursor: pointer;
}

#osb-map-page-wrapper {
  padding-top: 60px;
}

#osb-place-details {
  margin: 30px;
}

#osb-map, #osb-map-filter {
  height: 95%;
}

#main-content {
  position: static;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

#osb-top-bar-left p {
  margin-left: 15px;
  font-size: small;
}
#osb-top-bar-left p a:link {
  text-decoration: none;
  color: #ffffff;
}
#osb-top-bar-left p a:visited {
  text-decoration: none;
  color: #ffffff;
}
#osb-top-bar-left p a:hover {
  text-decoration: underline;
  color: #ffffff;
}
#osb-top-bar-left p a:active {
  text-decoration: none;
  color: #ffffff;
}

#osb-about-page-wrapper, #osb-settings-page-wrapper {
  margin: 80px 30px 0 30px;
  padding: 30px;
  border: solid 2px #4c4c4c;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  background: #ffffff;
  text-align: justify;
}

#osb-about-page-wrapper {
  line-height: 1.5em;
}

.osb-option-preference {
  margin-bottom: 20px;
}

.osb-option-btn {
  float: right;
  font-size: 18px !important;
}

.osb-option-title {
  font-size: 18px !important;
  padding: 0;
  margin: 0;
}

.osb-option-desc {
  font-size: 14px !important;
  padding: 5px 0 0 0;
  margin: 0;
  font-style: italic;
}

#osb-reset-msg {
  font-size: smaller;
  font-style: italic;
}

#osb-place-details {
  text-align: left;
}

#osb-place-report {
  padding-top: 10px;
}
#osb-place-report button {
  float: right;
  font-size: 16px !important;
  background-color: #B94A48;
  color: #FFFFFF;
}

.osb-tag-low {
  font-size: 1em;
}

.osb-tag-medium {
  font-size: 1.2em;
}

.osb-tag-high {
  font-size: 1.4em;
  font-weight: bold;
}

#osb-keyword-list ul li {
  padding: 8px;
}

.osb-selected-layer {
  border-bottom: none;
}

@media screen and (max-width: 380px) {
  #osb-top-bar-left p {
    font-size: 11px;
  }

  #osb-top-bar-center p {
    font-size: 14px;
  }

  #osb-map-page-right {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
  }

  #osb-map-filter {
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;
    border: solid 1px #4c4c4c;
    float: top;
    height: 100%;
  }

  #osb-map {
    height: 100%;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
  }

  #osb-map-page-left, #osb-map-page-right {
    padding: 0;
    margin: 0;
  }

  #osb-map-page-left {
    height: calc(100% - 60px);
  }

  #osb-map-filter-content {
    margin: 0;
  }

  #osb-map-wrapper.filter-x #osb-map-page-left {
    visibility: visible;
  }
  #osb-map-wrapper.filter-x .osb-filter-close {
    display: none;
  }
  #osb-map-wrapper.filter-x .osb-filter-open {
    display: inline-block;
  }

  #osb-map-wrapper.filter-y #osb-keyword-list {
    height: 15em;
  }
  #osb-map-wrapper.filter-y #osb-map-page-left {
    visibility: hidden;
  }
  #osb-map-wrapper.filter-y .osb-filter-close {
    display: inline-block;
  }
  #osb-map-wrapper.filter-y .osb-filter-open {
    display: none;
  }

  #osb-about-page-wrapper {
    margin: 70px 10px 0 10px;
    padding: 10px;
    line-height: 1.2em;
  }

  #osb-settings-page-wrapper {
    margin: 70px 10px 0 10px;
    padding: 10px;
  }

  #osb-place-details {
    margin: 5px;
  }

  .osb-place-keywords {
    display: none;
  }

  .osb-map .leaflet-popup-content-wrapper img {
    width: auto;
    height: auto;
    max-height: 140px;
    max-width: 260px !important;
    text-align: center;
  }

  #osb-place-description {
    padding: 10px;
  }
}
@media screen and (max-height: 570px) {
  #osb-map-wrapper.filter-y #osb-keyword-list {
    height: 300px !important;
  }
}
@media screen and (min-height: 571px) and (max-height: 750px) {
  #osb-map-wrapper.filter-y #osb-keyword-list {
    height: 400px !important;
  }
}
@media screen and (min-height: 751px) {
  #osb-map-wrapper.filter-y #osb-keyword-list {
    height: 600px !important;
  }
}

/*# sourceMappingURL=osbjs.css.map */
